<script type="text/javascript">
    RED.nodes.registerType('dvb',{
        category: 'trafic',
        color: '#f3ac26',
        defaults: {
            name: {value:""},
	    timeOffset: {value:"5"},
	    numberResults: {value:"2"}
        },
        inputs:1,
        outputs:1,
        icon: "icons/tram.svg",
        label: function() {
            return this.name||"dvb";
        }
    });
</script>

<script type="text/x-red" data-template-name="dvb">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
    	<label for="node-input-timeOffset"><i class="icon-tag"></i> Time Offset</label>
	<input type="number" id="node-input-timeOffset" placeholder="5" min="0" max="100">
    </div>
    <div class ="form-row">
    	<label for="node-input-numberResults"><i class="icon-tag"></i> Number Results</label>
	<input type="number" id="node-input-numberResults" placeholder="2" min="1" max="100">
    </div>
</script>

<script type="text/x-red" data-help-name="dvb">
    <p>A simple node that displays tram leaving times in Dresden</p>
</script>

